html {
  scroll-behavior: smooth;
}

head{ 
  border:1px black solid;
}

body {
  margin: 0px;
  display: grid;
  background: rgb(246,246,246);
  background: linear-gradient(0deg, rgba(246,246,246,1) 0%, rgba(157,188,188,1) 100%);
}

ul{
  font-family: 'Jost', sans-serif;
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
  line-height: 1.1;
  color: #6B6B6B;
  list-style: square;
  padding-bottom: 5%;
  padding-inline-start: 17px; 
  font-family: 'Jost', sans-serif;
  font-size: .80em;
  letter-spacing: .3px;
  font-weight: 500;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  /*padding: 2%;*/
}

h1{
  color:#547980;
  font-size: 35px;
  margin-top: 0px;
  font-family: 'Jost', sans-serif;
  letter-spacing: 1px;
}

h2{
  font-size: 200%;
  line-height: 1.3;
  font-family: 'Jost', sans-serif;
  font-style: italic;
  letter-spacing: 1.5px;
}

h3{
  color:#547980;
  font-size: 150%;
  font-family: 'Jost', sans-serif;
  line-height: 1.1;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h4 {
  font-family: 'Jost', sans-serif;
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
  line-height: 1.1;
  letter-spacing: 1px;
  font-size: 20px;
  color: #6B6B6B;
  font-weight: 800; 
}


h5 {
  font-family: 'Jost', sans-serif;
  margin-block-start: 0.2em;
  margin-block-end: 0.2em;
  letter-spacing: 0px;
  font-size: 15px;
  color: #B7B7B7;
  font-weight: 600;
}

h6{
  font-family: 'Jost', sans-serif;
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
  line-height: 1.1;
  letter-spacing: 1px;
  font-size: 17px;
  color: #9DBCBC;
  font-weight: 700; 
  padding-top: 2%;
  padding-bottom: 2%;
}

h7{
  color: black;
  font-size: 150%;
  font-family: 'Jost', sans-serif;
  line-height: 1.1;
  letter-spacing: 1px;
  /*text-transform: uppercase;*/
  font-weight: bold;
  margin-block-start: 0em;
  margin-block-end: 0em;
  
}

p{
  margin-left: 5%;
  margin-right: 15%;
  font-family: 'Jost', sans-serif;
  font-size: .95em;
  letter-spacing: .3px;
  font-weight: 500;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding-left: 15%;
  padding-bottom: 5px;
}
  
.pageintro{
  background-color: #6B6B6B ;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("Images/plants.jpg");
  padding-left: relative;
  padding-top: 15%;
  padding-bottom: 15%;
}
.pageintro h1{
  color:#F8EEE7;
  text-align: center;
  letter-spacing: 2.5px;
  font-size: 40px;
  text-shadow: black;
  text-emphasis-color: black;
}
.pageintro h4{
  color:#F8EEE7;
  text-align: center;
  font-style: italic;
  font-size: 25px;
}
.about{
  /*
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  */
  
  align-content: center;
 
  text-align: center;
}

.content{
  position: relative;
}
.resume{
  background-color: white;
}
.container {
  padding-right: 15%;
  padding-left: 15%;
  padding-top: 5%;
  margin-right: auto;
  margin-left: auto;
}

/*timeline content */

.about-section{
  padding: 0%;
}
 .about p{
   color: black;
   font-family: 'Jost', sans-serif;
   font-size: .95em;
   letter-spacing: .3px;
   font-weight: 500;
   margin-left: 0%;
   margin-right: 0%;
 }

 .about h4{
   padding-top: 1%;
 }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

.rounded-circle {
  border-radius: 50% !important;
}
div {
  display: block;
}

.timeline > li:after, .timeline > li:before {
  display: table;
  content: " ";
}

*, *::before, *::after {
  box-sizing: border-box;
}

::selection {
  background: #fed136;
  text-shadow: none;
}
*, *::before, *::after {
  box-sizing: border-box;
}
img {
  vertical-align: middle;
  border-style: none;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}


.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: #e9ecef;
}
.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.timeline > li:after, .timeline > li:before {
  display: table;
  content: " ";
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fed136;
}
.timeline > li .timeline-image h4 {
  font-size: 10px;
  font-family: 'Jost', sans-serif;
  font-size: .95em;
  letter-spacing: .3px;
  font-weight: 500;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

/* timeline content */



.bio{
  background-color:  #6B6B6B ;
}
.bio h1 {
  font-family: 'Jost', sans-serif;
  font-size: 45px;
  letter-spacing: 2px;
  color:white;
  font-style: italic;
  padding-left: 10%;
  padding-top: 5%;
}
.bio p{
  color:white;
  padding-left: 15%;
  padding-bottom: 15%;
}

.experience-block{
  background-color: white;
  align-content: center;
}
.careerpt{
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: white;
  margin: auto;
  width: 50%;
  align-content: center;
}
.careerpt p{
  font-size: .80em;
  letter-spacing: .3px;
  margin-left: 0%;
  margin-right: 0%;
  font-family: 'Jost', sans-serif;
 
}
.career-section{
  padding-top: 5%;
}

.academic-block{
  background-color: white;
}
.acapt{
  padding-bottom: 5%;
  background-color: white;
  width: 50%;
  margin: auto;
}
.acapt p{
  font-size: .80em;
  letter-spacing: .3px;
  margin-left: 0%;
  margin-right: 0%;
}
.acacontent{
  background-color: white;
}
.course-section{
  padding-right: 20%;
  padding-bottom: 5%;
  padding-top: 1%;
  color: #B7B7B7;
}
.course-section h6{
  background-color: #eeeeee;
  padding-left: 5%;
  padding-right: 20%;
  padding-top: 5%;
  padding-bottom: 5%;
}
.list-courses{
  padding-bottom: 5%;
}
.list-row{
  width: 50%;
  padding-left: 0%;
  float: left;
  padding-bottom: 2%;
}

.list-row2{
  float: left;
  width: 50%;
  padding-left: 0%;
  padding-bottom: 2%;
} 

.list-row3{
  margin-left: 20%;
  float: left;
}

.contact{
  padding: 25%;
}
.cs-skill {
  border: 1.5px solid #FFCC66;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 700;
  width: auto;
  display: inline-block;
  font-size: 11px;
  line-height: 1.33333em;
  padding: 7px 18px;
  margin-top: 0.8em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  font-family: 'Jost', sans-serif;
  letter-spacing: 1px;
}
.cs-framework {
  border: 1.5px solid #9DBCBC;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 700;
  width: auto;
  display: inline-block;
  font-size: 11px;
  line-height: 1.33333em;
  padding: 7px 18px;
  margin-top: 0.8em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  font-family: 'Jost', sans-serif;
  letter-spacing: 1px;
}
.cs-other {
  border: 1.5px solid #6B6B6B;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 700;
  width: auto;
  display: inline-block;
  font-size: 11px;
  line-height: 1.33333em;
  padding: 7px 18px;
  margin-top: 0.8em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  font-family: 'Jost', sans-serif;
  letter-spacing: 1px;
}
.biology-skill {
  border: 1.5px solid #9DBCBC;
  margin-right: 10px;
  text-transform: uppercase;
  font-weight: 700;
  width: auto;
  display: inline-block;
  font-size: 11px;
  line-height: 1.33333em;
  padding: 7px 18px;
  margin-top: 0.8em;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  font-family: 'Jost', sans-serif;
  letter-spacing: 1px;
}
.skill-block{
  float: left;
}

.projects{
  margin: auto;
  width: 50%;
  padding: 10%;
}


main {
  padding-bottom: 40rem;
}

section {
  padding: 4rem;
  margin: 0 0 2rem 0;
}
.contact{
  background-color: #FFCC66;
  padding-top: 10%;
}
.footer {
  background-color: #6B6B6B;
  color: white; 
  text-align: center;
  font-size: 0.9rem;
  padding-top: 10%;
  padding-bottom: 1%;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}